/* src\styles\pageHeader.css */
.page-header {
  display: flex;
  align-items: stretch;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.dark-theme .page-header {
  background-color: rgba(0, 0, 0, 0.1);
}

.page-header .back-area {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  cursor: pointer;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s var(--aero-animation);
  padding: 0 0.5rem;
}

.page-header .back-area:hover {
  background-color: rgb(0, 119, 255);
}

.page-header .back-area i {
  font-size: 1.2em;
  transition: transform 0.3s var(--aero-animation);
}

.page-header .back-area:hover i {
  transform: translateX(-3px);
}

.page-header .page-title {
  text-align: left;
  color: var(--accent-color);
  line-height: 350%;
  margin: 0;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 适配暗色主题 */
.dark-theme .page-header .back-area {
  border-right-color: rgba(255, 255, 255, 0.05);
}

.dark-theme .page-header .back-area:hover {
  background-color: rgb(0, 102, 219);
}

/* 响应式调整 */
@media (max-width: 768px) {
  .page-header {
    display: flex;
    font-size: 1.2em;
    margin-bottom: 0;
  }

  .page-header .back-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
  }

  .page-header .back-area:active {
    background: rgba(0, 119, 255, 0.2);
  }

  .page-header .back-area i {
    font-size: 1.4em;
  }

  .page-header .page-title {
    color: var(--accent-color);
    font-size: 1.1em;
    letter-spacing: 0px;
  }
}

/* 暗色主题移动端适配 */
@media (max-width: 768px) {
  .dark-theme .page-header .back-area {
    background: rgba(0, 0, 0, 0.1);
  }

  .dark-theme .page-header .back-area:active {
    background: rgba(0, 119, 255, 0.2);
  }
}
